body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Login */

.login-cont{
  height: 740px;
  width: 100%;
  background-size: cover;
  margin: 0;
  background-image: url('./images/image.png'), linear-gradient(180deg, #38D6C3 0%, #3D71D7 64.5%); 
}

.login{ 
  position: relative;
  height: 555px;
  width: 712px;
  background-color: #DFDFDF;
  margin: auto;
  padding: 40px 0 50px 0;
  border-radius: 10px;
  top: 50px;
  background: linear-gradient(180deg, #89D2F1 0%, #B2D3E5 30.9%, #65ACCA 40%, #8DE3EE 60%, rgba(124, 237, 237, 0.51) 80%, rgba(122, 222, 222, 0.51) 100%),
              linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  
 }

.login input{
  width: 307px;
  height: 51px;
  margin: 10px 190px;
  border-radius: 10px;
  background: #EEE9E9;
  font-size: 1.1rem;
  padding:0 10px;
}

#checkbox{
  width: 30px;
  height: 30px;
  margin:20px 10px 0 150px;
}

.login h1{
  margin-left: 200px;
}

.agree{
  margin:20px 0 0px 0;
  font-size: 1.3rem;
}

.check{
  display: flex;
}

.sign{
  padding: 15px 60px;
  margin: 30px 250px;
  background: linear-gradient(90deg, #3FD6A9 0%, #36C2CB 38.5%, #20A9C7 100%);
  /* border: none; */
  border-radius: 10px;
  font-size: 1.4rem;
}

/* Signup */

.signUp{
  width: 584px;
  height: 486px;
  background-color: #F1ECEC;
  margin: 10px auto;
  padding: 10px;
}

.signUp img, button, h1{
  margin: 0 30%;
}

.signUp h1{
  margin-left: 230px;
}

.signUp img{
  margin: 10px 5px;
}

.signUp-img{
  margin: 0 30%;
}

.signUp input{
  width: 307px;
  height: 51px;
  margin: 10px 140px;
  border-radius: 10px;
  background: #EEE9E9;
  font-size: 1.1rem;
  padding:0 10px;
}

.sign1{
  padding: 11px 70px;
  font-size: 1.3rem;
  border-radius: 10px;
  background-color: #2956CB;
}

.forgot{
  padding: 11px 36.9px;
  font-size: 1.3rem;
  border-radius: 10px;
  background-color: #2E932C;
}

/* Home */

.header{
  width: 100%;
  background-color:#00F9BD;
  padding: 30px;
}

.options{
  margin-left: 65%;
}

.options a{
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

.reg{
  background-color: #E2F41E;
  padding: 5px 20px;
  border-radius: 10px;
}

.hero{
  background: #8839F5CC;
  height: 88.1vh;
  display: flex;
}

.hero p{
  display: inline;
}

.inp{
  margin: 200px 0 0 500px;
}

.inp input{
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0;
  width: 350px;
  height: 60px;
}

.check1{
  height: 30px !important;
  width: 30px !important;
}

/* .check2{
  display: flex;
  width: fit-content;
} */

.logged{
  position: relative;
  bottom: 10px;
  left: 10px;
}

.forgot1{
  position: relative;
  left: 50px;
  bottom: 10px;
  text-decoration: none;
  color: white;
}

.logIn{
  padding: 10px 40px;
  background-color: #F4DE1C;
  border-radius: 10px;
}

.email1{
  background-image: url('./images/inpMail.png');
  background-repeat: no-repeat;
  background-position: 3% center;
  text-align: center;
}

.pass1{
  background-image: url('./images/inpPass.png');
  background-repeat: no-repeat;
  background-position: 3% center;
  text-align: center;
}